Binaries
DerivedDataCache
Intermediate
Saved
Content/InfinityBladeWeapons
Content/InfinityBladeGrassLands
Content/FXVillesBloodVFXPack
Content/ParagonMinions
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace